<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dksys.biz.auth.mapper.ClientCertMapper">

    <select id="selectByCertSerial" parameterType="string" resultType="CamelMap">
        SELECT
            CERT_SERIAL,
            USER_ID,
            DEVICE_ID,
            USE_YN,
            EXP_DT
        FROM TB_CLIENT_CERT_MAP
        WHERE CERT_SERIAL = #{certSerial}
          AND USE_YN = 'Y'
          AND (EXP_DT IS NULL OR EXP_DT >= SYSDATE)
    </select>

    <update id="updateByCertSerial" parameterType="map">
        UPDATE TB_CLIENT_CERT_MAP
        SET 
			MOD_ID            = #{subjectDN}, 
			MOD_DT			  = SYSTIMESTAMP
            WHERE CERT_SERIAL = #{certSerial}
    </update>
</mapper>
