/* 모바일 */

/* body#mobile  */
@media screen and (max-width:900px) {}

html,
body {
	min-width: auto;
	min-height: auto;
	max-width: 100vw;
	background: #f6f8fb;
	/* overflow: auto;
		overflow-x: hidden; */
}

#head_area {
	position: absolute;
	display: block;
	width: 100%;
	height: 55px;
	padding: 10px;
	box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.3);
	background: #ffffff;
	z-index: 99;
}

/* LOGO */
#head_area h1.logo {
	position: absolute;
	width: 136px;
	height: auto;
	left: calc(50% - 80px);
	top: 15px;
}

#head_area h1.logo img {
	width: 100%;
	height: auto;
}

#menu_area {
	position: fixed;
	width: 100%;
	height: calc(100vh - 55px);
	left: 0;
	top: 55px;
	margin-top: 0px;
	background: #fff;
	border-top: 1px solid #ddd;
	overflow: auto;
}

#menu_area ul.menu li {
	width: 50%;
}

#menu_area ul.menu li>a {
	color: #444 !important;
}

#menu_area img {
	display: none;
}

.sub_menu {
	left: 50%;
	width: calc(100% - 50%);
	border-radius: 0;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.left_btn {
	position: fixed;
	top: 13px;
	left: 8px;
	right: auto;
	width: 30px;
	height: 30px;
	z-index: 100;
	background: #fff;
}
.left_btn a::before{
	background-size: contain;
}

a.back_btn {
	opacity: 1;
}
.back_btn::before {
	content: "";
    position: absolute;
    display: block;
	top: 0;
	width: 100%;
	height: 100%;
	/* background-size: 100% 100%; */
	background: url('../img/svg/back.svg') no-repeat 50% 50%;
}
a.logout_btn {
	opacity: 1;
}
.logout_btn::before {
	content: "";
    position: absolute;
    display: block;
	top: 0;
	width: 100%;
	height: 100%;
	/* background-size: 100% 100%; */
	background: url('../img/svg/power-off.svg') no-repeat 50% 50%;
}


.menu_off {
	top: 13px;
	left: auto;
	right: 8px;
	width: 30px;
	height: 30px;
	z-index: 100;
	background: #fff;
}

a.off_btn {
	opacity: 1;
}

.off_btn::before {
	transform: rotate(0) !important;
	top: 0;
	width: 100%;
	height: 100%;
	/* background-size: 100% 100%; */
	background: url('../img/svg/power-off.svg') no-repeat 50% 50%;
	background-size: 100% 100%;
}

.menu_off,
.menu_off:hover,
.menu_off:focus {
	background-color: #fff;
	box-shadow: none;
}

#head_area.off {
	display: block;
}


#head_area.off #menu_area {
	display: none;
}

#head_area.off+.menu_off {
	left: auto;
}

#head_area.off+.menu_off .off_btn::before {
	background: url('../img/svg/menu.svg') no-repeat 50% 50%
}

#menu_area ul.menu li:hover,
#menu_area ul.menu li.on:hover,
#menu_area ul.menu li a:hover,
#menu_area ul.menu li.on a:hover {
	font-weight: bold;
}

#menu_area ul.menu li+li {
	margin-top: 0px;
}

#menu_area ul.menu li:hover .sub_menu {
	display: block;
	position: fixed;
	top: 56px;
}

#main_area {
	position: fixed;
	width: 100vw;
	margin-left: 0;
	height: calc(100% - 55px);
	top: 55px;
	padding: 15px 10px;
	overflow: auto;
}

#main_area .menu {
	z-index: 1;
}

#main_area .sub_menu {
	z-index: 2;
}

/* #top_area {
		position: relative;
		width: auto;
		min-width: auto;
		margin-left: 0;
		height: 50px;
		padding: 0 20px;
		line-height: 50px;
	} */

.contents {
	position: relative;
	width: 100%;
	min-width: auto;
	min-height: 20px;
	height: auto;
	padding: 10px;
	border-radius: 10px;
	background: #ffffff;
	margin-bottom: 15px;
	box-shadow: 1px 0px 5px rgb(0 0 0 / 15%)
}


/* 모바일 개별 설정 */
.table_input,
.table_input td,
.table_input th {
	padding: 0;
}

.table_input td+td,
.table_input th+td {
	padding-left: 5px;
}

input,
select,
.search_form,
.table_input input,
.table_input select,
.table_input .search_form {
	width: 100%;
	min-width: 100%;
	max-width: max-content;
}

.table_list {
	background: #ffffff;
}



/* 전역 권장 */
*, *::before, *::after { box-sizing: border-box; }

/* =========================
   모바일 메인 메뉴(아이콘 좌 + 텍스트 우)
   ========================= */
.mobile_menu{
  position: relative;
  width: 100%;
  min-width: 300px;
  max-width: 520px;
  margin: auto;
  padding: 0;
  list-style: none;
}

.mobile_menu > li{ width: 100%; }
.mobile_menu li+li{ margin-top: 10px; }

/* 버튼 공통 */
.mobile_menu li a.btn{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  box-sizing: border-box;
  padding: 5px 16px;
  min-height: 72px;

  background: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 5px rgba(0,0,0,.15);

  /* 아이콘/간격 변수 */
  --icon-url: url('/static/img/menu1.png'); /* JS가 덮어씀 */
  --icon-size: 48px;
  --text-gap: 12px;

  gap: var(--text-gap);
}

/* 아이콘: flex 첫 아이템 */
.mobile_menu li a.btn::before{
  content:"";
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  flex: 0 0 var(--icon-size);

  background: var(--icon-url) no-repeat center;
  background-size: contain;
}
/* 텍스트 '아이콘 제외 영역'에서 가운데 정렬 */
.mobile_menu li a.btn .menu_text{
  flex: 1 1 auto;       /* 남은 공간 전부 */
  text-align: center;   /* 그 공간에서 중앙 */
  padding: 0 12px;      /* 텍스트 영역 좌우 여백(원하는 값으로) */
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  line-height: 1.2;
  word-break: keep-all;
}

.mobile_menu li a.btn { touch-action: manipulation; }

/* 태블릿 튜닝 (아이콘 크기 고정) */
@media (min-width: 768px) and (max-width: 1023px){
  .mobile_menu{ max-width: 520px; } 

  .mobile_menu li a.btn{
    min-height: 110px;
    padding: 20px 20px;
    --icon-size: 64px;
    --text-gap: 16px;

    /* 태블릿에서 아이콘을 키우고 싶으면 아래만 조정 */
    /* --icon-w: 460px; --icon-h: 90px; */
  }
}

/* 선택: 터치 환경 오작동 방지 */
.mobile_menu li a.btn { touch-action: manipulation; }
.mobile_menu li a.btn .menu_text{ font-size: 32px; }